/**
 * Clearfix with an overflow.
 *
 * @param {Bool} $extend (true) - extend or include this pattern
 *
 * @link http://github.com/h5bp/html5-boilerplate
 */

@mixin clearfix($extend: true) {
  @if $extend {
    @extend %clearfix;
  }
  @else {
    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }
}

%clearfix {
  @include clearfix($extend: false);
}
