/**
 * Clearfix with an overflow.
 *
 * @link http://github.com/h5bp/html5-boilerplate
 */

%clearfix-with-overflow {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
