/**
 * Sometimes icons and small buttons need a slightly larger hit area, particularly on touch interfaces. This adds a before pseudo element that increases the click area by 10px in every direction.
 *
 * @param {Bool} $extend (true) - extend or include this pattern
 *
 * @link http://front-back.com/expand-clickable-areas-for-a-better-touch-experience
 */

@mixin expand-click-area($extend: true) {
  @if $extend {
    @extend %expand-click-area;
  }
  @else {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
    }
  }
}

%expand-click-area {
  @include expand-click-area($extend: false);
}
