/// For use with `fluid-media-wrapper` where the child is not an `embed`, `iframe`, or `object` element.

@mixin fluid-media-wrapper__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/// A fluid media wrapper provides the ability to maintain a consistent aspect ratio for video and media content while allowing that content to scale to a maximum width in a responsive layout.
///
/// @param {List} $ratio [16 9] - an aspect ratio to maintain
///
/// @throws `$ratio` must be a list with two values.
///
/// @requires {mixin} fluid-media-wrapper__media

@mixin fluid-media-wrapper($ratio: 16 9) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "#{inspect($ratio)} must be a list with two values.";
  }

  position: relative;
  padding-top: percentage(nth($ratio, 2) / nth($ratio, 1));

  embed,
  iframe,
  object {
    @include fluid-media-wrapper__media;
  }
}
