/// Provides an accessible way to hide text where background images are used on that element.
///
/// @link http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement

@mixin image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
