/**
 * Extends `%unstyled-list` to remove the default styles from a list and its children, and dislays those children as ``inline-block`` elements.
 *
 * @requires {placeholder} unstyled-list
 */

%inline-list {
  @extend %unstyled-list;
}

%inline-list__item, // for <= IE8
%inline_list > * {
  display: inline-block;
}

/**
 * Use on list items in <= IE8
 *
 * @requires {placeholder} inline-list
 */

%inline-list__item {
}
