/**
 * Display an image beside some other content.
 *
 * @param {Bool} $extend (true) - extend or include this pattern
 *
 * @requires {mixin} clearfix
 *
 * @link http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */

@mixin media-box($extend: true) {
  @if $extend {
    @extend %media-box;
  }
  @else {
    @include clearfix($extend);
  }
}

%media-box {
  @include media-box($extend: false);
}

/**
 * The content of the media box.
 *
 * @param {Bool} $extend (true) - extend or include this pattern
 */

@mixin media-box__content($extend: true) {
  @if $extend {
    @extend %media-box__content;
  }
  @else {
    @include clearfix($extend);
  }
}

%media-box__content {
  @include media-box__content($extend: false);
}

/**
 * The image (or other) of the media box, shown on the left of content.
 *
 * @param {Bool} $extend (true) - extend or include this pattern
 */

@mixin media-box__aside-left($extend: true) {
  @if $extend {
    @extend %media-box__aside-left;
  }
  @else {
    display: block;
    float: left;
  }
}

%media-box__aside-left {
  @include media-box__aside-left($extend: false);
}

/**
 * The image (or other) of the media box, shown on the right of content.
 *
 * @param {Bool} $extend (true) - extend or include this pattern
 */

@mixin media-box__aside-right($extend: true) {
  @if $extend {
    @extend %media-box__aside-right;
  }
  @else {
    display: block;
    float: right;
  }
}

%media-box__aside-right {
  @include media-box__aside-right($extend: false);
}
