/**
 * Display an image beside some other content.
 *
 * [stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code](http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code)
 *
 * @requires {placeholder} clearfix
 */

%media-box {
}

%media-box,
%media-box__content {
  @extend %clearfix;
}

%media-box__aside-left,
%media-box__aside-right {
  display: block;
  float: left;
}

%media-box__aside-right {
  float: right;
}
