/// Allows vertical centering of elements with unknown dimensions.
///
/// @link http://css-tricks.com/centering-in-the-unknown

@mixin vertical-align {
  &:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

/// The element to be vertically centred.

@mixin vertical-align__child {
  &:after {
    display: inline-block;
    vertical-align: middle;
  }
}
