/// Visually hides elements without hiding them from screen readers or crawlers.
///
/// @link http://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/css.md#visuallyhidden

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
