/**
 * Visually hides elements without hiding them from screen readers or crawlers.
 *
 * @param {Bool} $extend (true) - extend or include this pattern
 *
 * @link http://github.com/h5bp/html5-boilerplate/blob/master/doc/css.md#visuallyhidden
 */

@mixin visually-hidden($extend: true) {
  @if $extend {
    @extend %visually-hidden;
  }
  @else {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

%visually-hidden {
  @include visually-hidden($extend: false);
}
